*
{
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	margin: 0 auto;
	padding: 0px;
}
.container
{
	max-width: 1980px;
	height: 100%;
}
.navbar ul li
{
	color: #e2e2e2;
	display: inline-block;
	font-size: 2em;
	padding: 0px;
}
.navbar ul li:first-child
{
	width:4%;
	padding: 0px;
	padding-right:25%;
}
.navbar
{
	margin-top: 1%;
	justify-content: flex-end;
	width: 100%;
	z-index: 10;
	word-spacing: 30px;
	padding: 0px;
	height: 100%;
}
.navbar ul li a
{
	color: white;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}
.navbar ul li a::after
{
	content: '';
	display: block;
	width: 0;
	height: 3px;
	background: #42a5f5;
	box-shadow: 0px 0px 10px #90caf9;
	transition: width .3s;
}
.navbar ul li a:hover::after
{
	width: 100%;
}
.Information 
{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 15%;
}
.Information a
{
	font-size: 700%;
	color: white;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 500;
}